{:kotoba.app/id "cloud.itonami.isic-3240", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiglx3ta4zjyjnxcwzk4xntleftu4r2tyvtri3a4zsh6mr2kd4pmu4", :kotoba.app/embed-url "ipfs://bafkreiglx3ta4zjyjnxcwzk4xntleftu4r2tyvtri3a4zsh6mr2kd4pmu4", :published {:archive "https://kotobase.net/ipfs/bafkreiglx3ta4zjyjnxcwzk4xntleftu4r2tyvtri3a4zsh6mr2kd4pmu4", :size 72695, :put-status 201, :get-status 200, :at "2026-08-15T13:39:49.026Z"}}
